.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}
.navigation {
  display: flex;
  padding: 10px 0;
}
